*{
    background-color: #22252a;
    margin:0px;
    padding:0px;
    border:0px;
    font-size:16px;
    color:#fff;
    word-spacing: 0em;
    letter-spacing: em;
    text-indent:em;
    line-height:em;
    border-color:0;
    border-style:0;
    border-width:0;
}
@import url('');
nav{
    width:100%;
overflow:hidden;
padding-bottom:20px;
}
/*nav ul
{
    width: 60%;
    line-height: 7em;
    float: left;
    text-align: center;
}
nav ul li
{
    display: inline;
}*/
nav a{

float: left;
color: #393E46;
text-align:center;
padding:14px 16px;
text-decoration:none;
font-size: 1.5em;
background-color:#4ecca3;
border-left:solid #505762 1px;
margin:auto;
/*width:200px;*/
height:30px;
width:17.84%;
}
nav a:hover{
background-color:#76d7b8;
color:#393E46;
}
nav a.active{
background-color:#76d7b8;
color:#393E46
}
/*#list{
border:solid #000 2px;
}
#list,p{
width: 50%;
text-align: left;
padding-bottom:20px;
border:solid #000 1px;
}
#list,li{
padding-left:30px;

}
#list,a{
margin:0px;
padding-left:10px;    
text-decoration: none;
color:#000;

}*/
#grid-container
{
display:grid;
grid-template-columns:auto ;
justify-content: center;
}
p.text{
float: center;
margin: 30px;
width: 90% auto;
margin-left:3%;
margin-bottom:0px;
margin-right:0px;
font-size:18px;
text-align: left;
clear:both;
}
#homepic{
width:45%;
float:left;
margin-top:30px;
margin-left:23px;
clear:both;
}
ul{
    float:left;
    padding:30px;
    padding-left:0px;
}
li{

float:center;
color:#4ecca3;
margin-left:45px;
margin-top:15px;
clear:both;
}
li a{
font-size:18px;
color:#4ecca3;
text-decoration:underline;
}
img{
    height:25%;
    width:25% ;
}
#titleoorzaken{
    text-align:center;
    width:97%;
    font-size:20px;
    margin:30px;
    clear:both

}/*
#oorzaak1{
    margin: 30px;
    float:left;
    text-align:left;
    font-size:18px;
    width:45%;
}
#oorzaak2{
    text-align:left;
    float:right;
    margin:30px;
    width:45%;
    font-size:18px;
}
#oorzaak3{
    margin: 30px;
    float:left;
    text-align:left;
    font-size:18px;
    width:95%;
    clear:both;
}
#foto_oorzaak1{
    margin:30px;
    margin-top:-40px;
    width:40%;
    float:right;
    clear:both;
}
#oorzaak4{
    margin: 30px;
    float:left;
    text-align:left;
    font-size:18px;
    width:95%;
   
}
#tekstoorzaak4{
    width:50%;
    
}
#oorzaak5{
    margin: 30px;
    float:left;
    text-align:left;
    font-size:18px;
    width:95%; 
}*/
#tekstoorzaak5{
    width:50%;
}
#foto_oorzaak2{
    margin:30px;
    margin-top:-200px;
    width:40%;
    float:right;
    clear:both;
}
#foto_oorzaak3{
    margin:30px;
    margin-top:-230px;
    float:right;
    clear:both;
    width:40%;
}
#titlegevolgen{
    text-align:center;
    width:97%;
    font-size:20px;
    margin:30px;
    clear:both
}
#gevolgen1{
    margin: 30px;
    float:left;
    text-align:left;
    font-size:18px;
    width:95%;
    clear:both;
}
#tekstgevolgen1{
    width:45%;
}
#gevolgen2{
    margin: 30px;
    float:bottom;
    text-align:left;
    font-size:18px;
    width:95%;
}
#tekstgevolgen2{
    width:45%;
}
#gevolgenfoto1{
    float:right;
    margin:30px;
    width:15%;
    margin-right:200px;
    margin-top:-310px;
}
#gevolgenfoto2{
    width:15%;
    float:right;
    margin:0px;
    margin-top:-100px;
    margin-right:200px;
}
#gevolgenfoto3{
    float:right;
    width:15%;
    margin:0;
    margin-top:-100px;
}
#titlebmi{
    text-align:center;
    width:97%;
    font-size:20px;
    margin:30px;
    clear:both
}
#bmi1{
    margin: 30px;
    float:left;
    text-align:left;
    font-size:18px;
    width:95%;
    clear:both;
}
#tekstbmi1{
    width:60%;
}
#fotobmi1{
    float:right;
    margin-top:-320px;
    margin-right:150px;
    width:20%;
}
#bmi2{
    margin: 30px;
    float:left;
    text-align:left;
    font-size:18px;
    width:95%;
    clear:both;
}
#tekstbmi2{
    width:60%;
}
#fotobmi2{
    float:right;
    margin-top:-170px;
    margin-right:120px;
}
#fotobmi3{
    float:bottom;
    margin:50px;
    width:60%;
    margin-left:20%;
}
nav a img.logo{
    float:top;
    margin:0px;
    padding:0px;
    padding-bottom:0px;
    width:auto;
    height:200%;
}
footer{
    width:100%;
    background-color:#4ecca3;
    margin-right:0px;
    margin-bottom:0px;
    float:right;
    text-align: right;
}
footer a{
    float:left;
    background-color:#4ecca3;
    color:#393E46;
    font-size: 1.2rem;

}
footer p{
    background-color: #4ecca3;
    color:#393E46;
    font-size: 1.2rem;  
}
#grid-container2
{
display:grid;
grid-template-columns:auto auto;
justify-content: space-evenly;
border:#fff solid 2px;
grid-gap:10px;
}
#grid-container2 > article{
    
    border: solid #fff 2px;
}
#titleoorzaken{
    grid-column:1/3;
}
#oorzaak3{
    text-align:left ;
    float:left;
}
#oorzaak3 p{
    width:35%;
    float:left;
}
#oorzaak3 img{
    float: right;
    width:50%;
    height: 70%;
    margin-right:50px;
    margin-top:-12px;
}
#oorzaak5{
    grid-column:1/3;
    height: auto;
}

#grid-container3 > article{
    border:solid #fff 2px;
}
#titlesuggestie{
    text-align: center;
}
#suggestie1 p{
    width:30%;
}
