*{
    background-color: #22252a;
    margin:0px;
    padding:0px;
    border:0px;
    font-size:16px;
    color:#fff;
    word-spacing: 0em;
    letter-spacing: em;
    text-indent:em;
    line-height:1.5em;
    border-color:0;
    border-style:0;
    border-width:0;
}
@import url('');
nav{
    width:100%;
overflow:hidden;
padding-bottom:20px;
}
title{
    display:none;
}
figcaption{
    margin-bottom:50px;
    margin-left:151px;
    background-color:#000;
    margin-right:151px;
    clear:both;
}
/*nav ul
{
    width: 60%;
    line-height: 7em;
    float: left;
    text-align: center;
}
nav ul li
{
    display: inline;
}*/
nav a{

float: left;
color: #393E46;
text-align:center;
padding:14px 16px;
text-decoration:none;
font-size: 1.5em;
background-color:#4ecca3;
border-left:solid #505762 1px;
margin:auto;
/*width:200px;*/
height:30px;
width:17.84%;
}
nav a:hover{
background-color:#76d7b8;
color:#393E46;
}
nav a.active{
background-color:#76d7b8;
color:#393E46
}
/*#list{
border:solid #000 2px;
}
#list,p{
width: 50%;
text-align: left;
padding-bottom:20px;
border:solid #000 1px;
}
#list,li{
padding-left:30px;

}
#list,a{
margin:0px;
padding-left:10px;    
text-decoration: none;
color:#000;

}*/
#grid-container
{
display:grid;
grid-template-columns:auto ;
justify-content: center;
}
p.text{
float: center;
margin: 30px;
width: 90% auto;
margin-left:3%;
margin-bottom:0px;
margin-right:0px;
font-size:18px;
text-align: left;
clear:both;
}
#homepic{
width:45%;
float:left;
margin-top:30px;
margin-left:23px;
clear:both;
}
ul{
    float:left;
    padding:30px;
    padding-left:0px;
}
li{

float:center;
color:#4ecca3;
margin-left:45px;
margin-top:15px;
clear:both;
}
li a{
font-size:18px;
color:#4ecca3;
text-decoration:underline;
}
img{
    height:25%;
    width:25% ;
}
#titleoorzaken{
    text-align:center;
    width:100%;
    margin-top:10px;
    margin-bottom:30px;

}
#titleoorzaken h1{
    font-size: 1.5rem;
}
/*
#oorzaak1{
    margin: 30px;
    float:left;
    text-align:left;
    font-size:18px;
    width:45%;
}
#oorzaak2{
    text-align:left;
    float:right;
    margin:30px;
    width:45%;
    font-size:18px;
}
#oorzaak3{
    margin: 30px;
    float:left;
    text-align:left;
    font-size:18px;
    width:95%;
    clear:both;
}
#foto_oorzaak1{
    margin:30px;
    margin-top:-40px;
    width:40%;
    float:right;
    clear:both;
}
#oorzaak4{
    margin: 30px;
    float:left;
    text-align:left;
    font-size:18px;
    width:95%;
   
}
#tekstoorzaak4{
    width:50%;
    
}
#oorzaak5{
    margin: 30px;
    float:left;
    text-align:left;
    font-size:18px;
    width:95%; 
}*/
#oorzaak1{
    margin-left:50px;    
}
#oorzaak1 h2{
    font-size: 1.2rem;
    margin-bottom:20px;
}
#oorzaak2{
    margin-right:50px;
}
#oorzaak2 h2{
    margin-bottom:20px;
    font-size: 1.2rem;
}
#oorzaak4{
    margin-left:50px;
}
#oorzaak4 h2{
    margin-bottom:20px;
    font-size: 1.2rem;
}
#oorzaak3{
    margin-right:50px;
}
#oorzaak3 h2{
    margin-bottom:20px;
    font-size: 1.2rem;
}
#oorzaak5{
    margin-right:50px;
    margin-left:50px;
}
#tekstoorzaak5{
    float:left;
    width:48%;
}
#oorzaak5 h2{
    margin-bottom:20px;
    font-size: 1.2rem;
}
#foto_oorzaak2{
    float:left;
    margin-top:10px;
    margin-left:30px;
    width:20%;
    height:50%;
    object-fit:cover;
}
#foto_oorzaak3{
    float:left;
    margin-top:10px;
    margin-left:30px;
    width:20%;
    height:50%;
    object-fit: cover;

}
#titlebmi{
    text-align:center;
    width:100%; 
    margin-top:30px;
    margin-bottom:30px;
    clear:both
}
#titlebmi h1{
    font-size: 1.5rem;
}
#bmi1{
    margin-bottom:50px;
    float:left;
    text-align:left;
    font-size:18px;
    width:100%;
    clear:both;
}
#bmi1 h2{
    margin-bottom:20px;
    font-size: 1.2rem;
    margin-left:50px;
}
#tekstbmi1{
    margin-left:50px;
    float:left;
    width:65%;
}
#tesktbmi1 h2{
    font-size: 1.2rem;
    margin-left:50px;
}
#fotobmi1{
    float:left;
    margin-top:-20px;
    margin-left:50px;
    width:10%;
}
#bmi2{
    float:left;
    text-align:left;
    width:100%;
    clear:both;
}
#bmi2 h2{
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-left:50px;
}
#tekstbmi2{
    margin-left:50px;
    width:60%;
    float:left;
}

#fotobmi2{
    float:left;
    margin-top:-30px;
    margin-left:50px;
    width:20%;
}
#fotobmi3{
    float:left;
    margin:50px;
    width:80%;
    height:170px;
    margin-left:10%;
    object-fit: cover;
    margin-bottom:0px;

}
nav a img.logo{
    float:top;
    margin:0px;
    padding:0px;
    padding-bottom:0px;
    width:auto;
    height:200%;
}
footer{
    width:100%;
    background-color:#4ecca3;
    margin-right:0px;
    margin-bottom:0px;
    float:right;
    text-align: right;
}
footer a{
    float:left;
    background-color:#4ecca3;
    color:#393E46;
    font-size: 1.2rem;
    margin-left:10px;
}
footer p{
    background-color: #4ecca3;
    color:#393E46;
    font-size: 1.2rem;
    margin-right:10px;  
}
#grid-container2
{
display:grid;
grid-template-columns:auto auto;
justify-content: space-evenly;
grid-gap:20px;
}
#grid-container2 > article{
    
   
}
#titleoorzaken{
    grid-column:1/3;
}
#oorzaak3{
    text-align:left ;
    float:left;
}
#oorzaak3 p{
    width:35%;
    float:left;
}
#oorzaak3 img{
    float: right;
    width:50%;
    height: 70%;
    margin-right:50px;
    margin-top:-12px;
}
#oorzaak5{
    grid-column:1/3;
    height: auto;
}
#grid-container3{
    display:grid;
    grid-template-columns:auto ;
    justify-content: center;
    /*border:solid #fff 2px;*/
}
#grid-container3 > article{
    /*border:solid #fff 2px;*/
}
#titlesuggestie h1{
    font-size:1.5rem;
    text-align: center;
}
#suggestie1 h2{
    font-size: 1.2rem;
    margin-bottom:20px;
    margin-left:50px;
}
#suggestie1 p{
    font-size:1rem;
    width:25%;
    float:left;
    margin-left:50px;
}
#suggestieimg1{
    width:25%;
    float:left;  
    margin-left:50px;
    margin-top:20px;
    height:auto;
}
#suggestieimg2{
    width:25%;
    float:left;
    margin-left:20px;
    margin-top:20px;
    height:51.6%;
    object-fit: cover;
}
#suggestie2{
    margin-bottom:20px;
}
#suggestie2 h2{
    font-size:1.2rem;
    margin-left:50px;
    margin-bottom:20px;
}
#suggestie2 p{
    float:left;
    width:55%;
    margin-left:50px;
}
#suggestie2 img{
    margin-top:-20px;
    margin-left:70px;
    width:22%;
    height:auto;
}
#grid-containergevolgen
{
display:grid;
grid-template-columns:auto;
justify-content: center;
/*border:#fff solid 2px;*/
grid-gap:10px;
}
#grid-containergevolgen > article{
    
   /* border: solid #fff 2px;*/
}
#titlegevolgen{
    text-align:center;
    width:100%;
    font-size:20px;
    clear:both
}
#titlegevolgen h1{
    font-size: 1.5rem;
}
#gevolgen1{
    margin-left:50px;
    margin-right:50px;
    float:left;
    text-align:left;
}
#gevolgen1 p{
    float:left;
    width:60%;
}
#gevolgen1 h2{
    font-size: 1.2rem;
    margin-bottom:20px;
}
#gevolgen2{
    margin-left:50px;
    margin-right:50px;
    float:left;
    text-align:left;
}
#tekstgevolgen2{
    float:left;
    width:55%;
}
#gevolgen2 h2{
    margin-top:50px;
    font-size: 1.2rem;
    margin-bottom:20px;
}
#gevolgenfoto1{
    margin-top:-10px;    
    margin-left:140px;
    float:left;
    width:12%;
    height:85%;
    object-fit: cover;  
}
#gevolgenfoto2{
    margin-top: -65px;
    margin-left:20px;
    float:left;
    width:12%;
    height:70%;
    object-fit: cover;
}
#gevolgenfoto3{
    margin-top:-65px;
    margin-left:20px;
    float:left;
    width:12%;
    height:70%;
    object-fit: cover;
}
label{
    margin-left:50px;
    float:left;
}
#email{
    background-color: #fff;
    margin-left:56.5px;
    float:left;
    border:solid #4ecca3 2px;
    margin-bottom: 50px;
    margin-top:50px;
    color:#393E46;
}
#Telefoon_nummer{
    background-color: #fff;
    margin-left:20px;
    float:left;
    border:solid #4ecca3 2px;
    margin-bottom:50px;
    color:#393E46;
}
#email_label{
    margin-top:50px;
}
#Telefoon_nummer_label{
    clear:both;
}
#radio_button_vraag{
    clear:both;
    margin-left:50px;
    float:left;
    margin-right:50px;
    width:150px;
    margin-top: 20px;
}
/*#nee_label{
    float:left;
}
#nee{
    float:left;
}
#ja_label{
    float:left;
}
#ja{
    float:left;
}*/
#review{
    background-color:#fff;
    clear:both;
}
#grid-container_radio{
    display:grid;
grid-template-columns:auto auto;
justify-content: center;
border:#4ecca3 solid 2px;
grid-gap:10px;
float:left;
background-color: #fff;
width: 500px;
height:100px;
}
#grid-container_radio > article{
    background-color:#fff

}
#ja{
    float:left;
    margin-left:0px;
    margin-top:45px;  
}
#ja_label{  
    margin-top:39px;
    float:left;
    background-color:#fff;
    color:#393E46;
    margin-left:10px;
    margin-right:200px;
}
#nee{
    float:left;
    margin-top:45px;  
}
#nee_label{  
    margin-top:39px;
    float:left;
    background-color:#fff;
    color:#393E46;
    margin-left:10px;
}
#review_label{
    margin-top:50px;
    float:left;
    clear:left;
}
#review{
    box-sizing: border-box;
    float:left;
    margin-top:-25px;
    margin-left:250px;
    width: 500px;
    height:100px;
    border:solid #4ecca3 2px;
    color:#393E46;
    resize: none;
}
#reviewText{
    margin-left:50px;
    margin-top:50px;
    float:left;
    clear:left;
}
textarea{
    box-sizing: border-box;
    float:left;
    margin-top:25px;
    margin-left:146px;
    margin-bottom: 50px;
    width: 505px;
    height:100px;
    border:solid #4ecca3 2px;
    color:#393E46;
    resize: none;
    background-color: #fff;
}
#verzendknop{
    float:left;
    background-color:#4ecca3;
    color:#393E46;
    border: solid #505762 2px;
    padding: 10px 100px;
    margin-left:360px;
    margin-bottom:80px;
    clear:left;
}